.splecheh-toast {
	position: relative;
	padding-right: 38px;
}

.splecheh-toast .notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;
	display: block;
	padding: 9px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #787c82;
}

.splecheh-toast .notice-dismiss:hover {
	color: #1d2327;
}

.splecheh-toast .notice-dismiss::before {
	content: "\f153";
	font: normal 16px/20px dashicons;
	display: block;
	width: 20px;
	height: 20px;
}

.splecheh-toast .notice-dismiss .screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
